<app-navbar></app-navbar>
<div class="bg-custom-dark h-screen flex flex-col items-center justify-center relative ">
  <img src="../../../../assets/bbblurry.svg" alt="icon" class="absolute z-[1] w-full h-auto max-w-[600px] object-contain" />

  <h1 class="relative z-10 text-white text-6xl sm:text-9xl font-montserrat font-bold text-center">ORM Task</h1>
  <h4 class="relative z-10 text-white text-lg font-montserrat font-medium text-center px-4">Trabajar en equipo es más fácil que nunca.</h4>

  <div class="relative z-10 mt-12 flex flex-col sm:flex-row items-center">
    <button routerLink="/register" class="btn btn-primary cursor-pointer text-white text-xl mb-4 sm:mb-0">Pulsa para empezar!</button>
    <button routerLink="/login" routerLinkActive="activate" class="btn btn-outline cursor-pointer text-white text-xl ml-0 sm:ml-5">Inicia Sesión</button>
  </div>
</div>
<router-outlet></router-outlet>
