<div class="flex items-center justify-center min-h-screen bg-cover bg-center"
  style="background-image: url('assets/login-background.jpg');">
  <div
    class="shadow-xl p-8 w-full max-w-md rounded-lg border-4 border-transparent hover:border-orange-200 transition duration-300 ease-in-out bg-white bg-opacity-90">
    <h1 class="text-4xl font-bold mb-6 text-center">Registro</h1>
    <div class="grid grid-cols-1 gap-6">

      @if (!isLoading()) {
      <form [formGroup]="registerForm()" (ngSubmit)="onSubmit()">
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Nombre" formControlName="nombre" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Apellido" formControlName="apellido" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Segundo Apellido" formControlName="segundoApellido" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="email" class="grow text-lg" placeholder="Email" formControlName="email" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="password" class="grow text-lg" placeholder="Contraseña" formControlName="contrasena" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="date" class="grow text-lg" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Ciudad" formControlName="ciudad" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Población" formControlName="poblacion" />
        </label>
        <label class="input input-bordered flex items-center gap-2 w-full mb-4">
          <input type="text" class="grow text-lg" placeholder="Teléfono (opcional)" formControlName="numeroTelefono" />
        </label>
        <div class="flex justify-center gap-4 mt-6">
          <button class="btn btn-primary text-lg px-8 py-2">Crear cuenta</button>
        </div>
      </form>

      } @else {
      <div class="flex justify-center items-center">
        <span class="loading loading-spinner loading-lg text-center"></span>
      </div>
      }
    </div>
  </div>
</div>
