<nav class="bg-custom-dark bg-opacity-10  p-4 fixed w-full z-50 shadow-lg">
  <div class="container mx-auto flex flex-col sm:flex-row justify-center items-center">
    <ul class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-8 text-white font-semibold text-xl">
      <li class="transition-transform duration-200 hover:scale-110">
        <a href="/home" class="hover:text-gray-300">Home</a>
      </li>
      <li class="transition-transform duration-200 hover:scale-110">
        <a href="#" class="hover:text-blue-100">Quienes Somos</a>
      </li>
      <li class="transition-transform duration-200 hover:scale-110">
        <a href="#" class="hover:text-gray-300">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
