/* General styles for full screen */
.container {
  display: flex;
  height: 100vh; /* h-screen */
  overflow: hidden; /* overflow-hidden */
}

.sidebar {
  width: 16rem; /* w-64 (16 rem = 64 px) */
}

.content {
  flex-grow: 1; /* flex-grow */
  position: relative; /* relative */
  padding: 1rem; /* p-4 */
  overflow: auto; /* overflow-auto */
}

/* Contenedor del SVG para posicionarlo detrás del título */
.svg-background {
  position: absolute; /* Colocarlo en posición absoluta */
  top: 50%; /* Alineado a la mitad de la altura */
  left: 50%; /* Alineado a la mitad del ancho */
  transform: translate(-50%, -75%); /* Mover el SVG hacia arriba y a la izquierda para centrarlo */
  width: 50%; /* Ajustar al ancho total del contenedor */
  height: auto; /* Mantener la proporción del SVG */
  z-index: 0; /* Colocarlo detrás de otros elementos */
  opacity: 0.3; /* Ajustar opacidad si es necesario */
}

/* Flexbox column layout */
.flex-column {
  position: relative; /* Permitir que los elementos hijos sean posicionados de manera absoluta */
  display: flex;
  flex-direction: column; /* flex-col */
  align-items: center; /* items-center */
  color: white; /* text-cyan-300 */
  height: auto; /* Ajustar a la altura del contenido */
  width: 100%; /* w-full */
  z-index: 1; /* Colocarlo delante del SVG */
  margin-bottom: 2rem; /* Añadir un margen inferior para separar el dashboard del título */
}

.main-title {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 2rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  border: 2px solid rgb(111, 0, 121);
  border-radius: 0.125rem;
  transition: transform 0.3s;
}

/* Scale effect on hover */
.main-title:hover {
  transform: scale(1.1); /* hover:scale-110 */
}

/* Subtitle styles */
.sub-title {
  font-size: 1.6rem; /* text-2xl (2xl = ~ 1.5rem) */
  font-weight: 200; /* font-thin */
  margin-top: 1rem; /* mt-4 */
  text-align: left; /* text-left */
}


.dashboard-container {
  width: 100%;
  z-index: 1;
  border-color: slategray;
  border-radius: 20px;


}
