<div class="flex">
  <!-- Sidebar con ancho fijo -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Contenido principal -->
  <div class="flex-1 p-8">
    <!-- Si no hay tableros, mostrar primer componente -->
    @if (userData?.tableros?.length == 0) {
      <div class="fixed inset-0 flex flex-col items-center justify-center text-center p-4 overflow-hidden">
        <h1 class="text-7xl font-montserrat font-bold">Bienvenido {{ userData?.nombre }} 👋🏼</h1>

        <h3 class="text-xl font-montserrat font-medium mt-5">
          Pulsa en el botón para crear tu primer tablero!
        </h3>

        <button class="btn btn-primary px-4 py-2 text-lg font-semibold text-white rounded-xl hover:bg-blue-600 mt-4">
          Crear
        </button>
      </div>

    } @else {
      <div>
        <!-- Título de bienvenida -->
        <h1 class="font-montserrat text-6xl font-bold p-4 mb-10 ">Bienvenido de nuevo {{ userData!.nombre }} 👋🏼</h1>

        <!-- Contenedor de las tarjetas con espaciado entre ellas -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 px-4">
          <!-- Aquí no se modifica el bucle ni los condicionales -->
          @for (tab of userData?.tableros; track $index) {
            <app-card-app [title]="tab.titulo" [description]="tab.descripcion"></app-card-app>
          }
        </div>
      </div>
    }
    </div>


</div>

<router-outlet></router-outlet>
